.transformation-card-container {
  padding: 0px 26px 32px 26px;
}

.tarnsformation-card-heading {
  font-size: 15px;
  font-weight: 650;
  margin-bottom: 13px;
}

.transformation-label {
  font-size: 12px;
}

.question-icon {
  width: 11px;
  height: 11px;
}

.react-logo {
  width: 14px;
  height: 14px;
  color: #fff;
  fill: #fff;
  stroke: #fff;
}

.transformation-btn {
  font-size: 12px !important;
}

.custom-popover {
  background: #000 !important;
  color: #fff;
  border-radius: 4px !important;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px !important;
}

.popover {
  background: #000;
}

.popover.bs-popover-top .popover-arrow:after {
  border-top-color: #000;
}

.popover.bs-popover-end .popover-arrow:after {
  border-right-color: #000;
}

.popover.bs-popover-bottom .popover-arrow:after {
  border-bottom-color: #000;
}

.popover.bs-popover-start .popover-arrow:after {
  border-left-color: #000;
}

@media (max-width: 850px) {
  .transformation-label {
    font-size: 10px;
  }
}

/* css styling for tabs */

@media (max-width: 760px) {
  .transformation-card-container {
    padding: 0px 24px 30px 24px;
  }

  .tarnsformation-card-heading {
    font-size: 13px;
    font-weight: 650;
    margin-bottom: 13px;
  }

  .transformation-label {
    font-size: 10px;
  }

  .question-icon {
    width: 9px;
    height: 9px;
  }

  .react-logo {
    width: 12px;
    height: 12px;
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .transformation-btn {
    font-size: 10px !important;
  }
}

/* css styling for mobiles */

@media (max-width: 480px) {
  .transformation-card-container {
    padding: 0px 22px 28px 22px;
  }

  .tarnsformation-card-heading {
    font-size: 13px;
    font-weight: 650;
    margin-bottom: 11px;
  }

  .transformation-label {
    font-size: 10px;
  }

  .question-icon {
    width: 6px;
    height: 6px;
  }

  .react-logo {
    width: 10px;
    height: 10px;
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .transformation-btn {
    font-size: 8px !important;
  }
}
